@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 131 44% 7%;
    --background: 127 43% 96%;
    --primary: 131 16% 27%;
    --secondary: 132 19% 69%;
    --accent: 129 22% 42%;
  }

  .dark {
    --text: 131 44% 93%;
    --background: 127 43% 4%;
    --primary: 131 16% 73%;
    --secondary: 132 19% 31%;
    --accent: 129 22% 58%;
  }

  body {
    @apply bg-background text-foreground;
    background-image: url('data:image/svg+xml;base64,...SVG DATA...');
    background-attachment: fixed;
    background-size: cover;
  }
  
  * {
    @apply border-border;
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-cursor {
  from, to { border-color: transparent; }
  50% { border-color: var(--text); } 
}

@keyframes slide-in {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out forwards;
}
